<?php
return [
    'facebook' => [
        'app_id' => '',
        'app_secret' => '',
        'default_graph_version' => 'v2.7'
    ],
    'paths' => [
        'host' => 'http://localhost:8888'
    ]
];